body{
    padding: 0;
    margin: 0;
    background-color: #000000;


}
.navbar{
    background-color: #1DB954 ;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar > ul{
    margin-left: 200px;
}

.navbar li>a{
    text-decoration: none;
    color:#585858;
    font-size: 20px;
}


.navbar a.active{
    color: #ffffff;
    border-bottom : 2px solid #ffffff;


}

.navbar a:hover{
    color:#ffffff;
    border-bottom: 2px solid #ffffff;
}


.content{
     background: rgb(225,225,225,0.73);
   
     
}